variables = {
    'HTTP_HOST': '127.0.0.1',
    'HTTP_PORT': 8000,
    'UDP_RECIPIENT_HOST': '127.0.0.1',
    'UDP_RECIPIENT_PORT': 8001,
    'WAREHOUSE_API_HOST': '127.0.0.1',
    'WAREHOUSE_API_PORT': 8002
}
